openapi: 3.0.3
info:
  title: D-Wave Leap Hybrid Account Solvers API
  version: '3.0'
  description: 'Leap Hybrid Solvers — quantum-classical hybrid samplers (BQM, CQM, DQM, NL) submitted

    via the standard SAPI Problems endpoint with `type=bqm|cqm|dqm|nl` and the matching

    hybrid solver name. This spec narrows the generic SAPI submit surface to the hybrid

    solver request/response shapes.

    '
  contact:
    name: D-Wave Quantum Inc.
    url: https://docs.dwavequantum.com/en/industrial_optimization/index_get_started.html
servers:
- url: https://cloud.dwavesys.com/sapi/v2
security:
- SapiToken: []
tags:
- name: Solvers
paths:
  /solvers/remote/:
    get:
      operationId: listSolvers
      summary: List Solvers
      description: List remote solvers available to the authenticated project, with optional filter.
      tags:
      - Solvers
      parameters:
      - in: query
        name: filter
        description: Solver filter expression (e.g. `none,+properties.topology.type`).
        schema:
          type: string
      responses:
        '200':
          description: Solver list
          content:
            application/vnd.dwave.sapi.solver-definition-list+json;version=3.0.0:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SolverConfiguration'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /solvers/remote/{solver_name}:
    get:
      operationId: getSolver
      summary: Get Solver
      description: Retrieve full configuration and properties for a single solver.
      tags:
      - Solvers
      parameters:
      - in: path
        name: solver_name
        required: true
        schema:
          type: string
      - in: query
        name: filter
        schema:
          type: string
      responses:
        '200':
          description: Solver configuration
          content:
            application/vnd.dwave.sapi.solver-definition+json;version=3.0.0:
              schema:
                $ref: '#/components/schemas/SolverConfiguration'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: Solver not found or not accessible to project
    Unauthorized:
      description: Missing or invalid SAPI token
  schemas:
    SolverConfiguration:
      type: object
      required:
      - id
      - status
      - properties
      properties:
        id:
          type: string
          example: Advantage_system6.4
        status:
          type: string
          enum:
          - ONLINE
          - OFFLINE
          - UNKNOWN
        description:
          type: string
        avg_load:
          type: number
        properties:
          type: object
          description: Solver capability metadata (qubits, topology, supported problem types, ranges).
          properties:
            category:
              type: string
              enum:
              - qpu
              - hybrid
              - software
            supported_problem_types:
              type: array
              items:
                type: string
                enum:
                - ising
                - qubo
                - bqm
                - cqm
                - dqm
                - nl
            num_qubits:
              type: integer
            topology:
              type: object
              properties:
                type:
                  type: string
                  enum:
                  - pegasus
                  - zephyr
                  - chimera
                shape:
                  type: array
                  items:
                    type: integer
            parameters:
              type: object
              additionalProperties: true
  securitySchemes:
    SapiToken:
      type: apiKey
      in: header
      name: X-Auth-Token
